:root {
    --primary: #8c00b2;
    --primary-dark: #720a8e;
}





.display-1 {
    font-size: 2.5rem;
}



.form-control:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 0.2rem rgba(140,0,178,.5) !important;
}

